<section id="aboutUs" class="col-12 section-spacing-s p-3 p-md-4 p-lg-5">
    <div class="about-us-wrapper my-5 m-lg-auto col-12 col-lg-11 col-xl-10">
        <div class="card d-flex align-items-center overflow-hidden" bis_skin_checked="1">
            <img src="assets/about-us.png" class="img-fluid w-100"
                alt="card-horizontal-image">
        </div>
    </div>
</section>