<header class="sticky-top">
    <nav class="navbar navbar-expand-lg fs-4 fw-bold">
        <div class="container-fluid col-xl-10" bis_skin_checked="1">
            <a class="navbar-brand col-4 col-md-3 col-lg-2" title="Kemiger" href="/"><img class="img-fluid"
                    src="../assets/logo.png" alt=""></a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarCollapse" bis_skin_checked="1">
                <ul class="navbar-nav navbar-collapse align-items-end justify-content-end my-3 m-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" title="Ana Sayfa" aria-current="page" href="/">Ana Sayfa</a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout/" title="Çıkış yap" class="nav-link">Çıkış yap</a>
                    </li>
            </div>
        </div>
    </nav>
</header>