<section id="poster" class="col-12">
    <div class="poster-wrapper d-flex position-relative" bis_skin_checked="1">
        <div class="glide poster-glide">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <li class="glide__slide">
                        <div class="card" bis_skin_checked="1">
                            <img src="assets/swipers/1.png" class="card-img poster-image" alt="card-img-overlay">
                            <div class="card-img-overlay d-flex flex-column align-items-start justify-content-center col-xl-10 m-xl-auto"
                                bis_skin_checked="1">
                                <div class="card card-body p-0 col-12 col-md-7 col-xl-6 position-relative flex-column justify-content-center"
                                    bis_skin_checked="1">
                                    <span class="col-4"><img class="img-fluid" src="assets/logo-white.png"
                                            alt=""></span>
                                    <h1 class="card-title fw-bold responsive-h-3">Koku Mutsuzluğunu
                                        Sonlandıracağız!</h1>
                                    <a href="/product/6" class="btn btn-primary fw-bold col-7 col-lg-4 mt-5">Daha
                                        Fazla</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="glide__slide">
                        <div class="card" bis_skin_checked="1">
                            <img src="assets/swipers/2.png" class="card-img poster-image" alt="card-img-overlay">
                            <div class="card-img-overlay d-flex flex-column align-items-start justify-content-center col-xl-10 m-xl-auto"
                                bis_skin_checked="1">
                                <div class="card card-body p-0 col-12 col-md-7 col-xl-6 position-relative flex-column justify-content-center"
                                    bis_skin_checked="1">
                                    <span class="col-4"><img class="img-fluid" src="assets/logo-white.png"
                                            alt=""></span>
                                    <h1 class="card-title responsive-h-2">Cerrahi Alet
                                        Gençlik Aşısı</h1>
                                    <a href="/product/5" class="btn btn-primary fw-bold col-7 col-lg-4 mt-5">Daha
                                        Fazla</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div
            class="features card d-flex flex-column flex-lg-row justify-content-between position-absolute top-100 start-50 translate-middle py-4 px-3 py-lg-5 px-lg-5 col-11 col-md-8 col-lg-11 col-xxl-9">
            <span
                class="feature d-flex flex-column align-items-center justify-content-lg-center p-3 fs-2 m-lg-0 col-12 col-lg-3">
                <span class="d-flex flex-column align-items-center">
                    <h5 class="m-0">Kemiger</h5>
                    <p class="m-0">Dental Art Partner</p>
                </span>
            </span>
            <span
                class="feature d-flex flex-column align-items-center justify-content-lg-center p-3 fs-2 m-lg-0 col-12 my-3 col-lg-3">
                <span class="d-flex flex-column align-items-center">
                    <h5 class="m-0">CureO9</h5>
                    <p class="m-0">Active Oxygen</p>
                </span>
            </span>
            <span
                class="feature d-flex flex-column align-items-center justify-content-lg-center p-3 fs-2 m-lg-0 col-12 col-lg-3">
                <span class="d-flex flex-column align-items-center">
                    <h5 class="m-0">Gunesol</h5>
                    <p class="m-0">Bedelsiz Isınma</p>
                </span>
            </span>
        </div>
    </div>
</section>