body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Product */

#product {
    margin: 5rem 0;
}
#productImg{
    object-fit: cover;
}

/* Product */

/* Footer */

footer {
    margin-top: auto;
}