body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Product */

#products {
    margin: 3rem auto 10rem auto;

    .card {
        cursor: pointer;
        overflow: hidden;

        .card-img-overlay {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(30, 40, 40, 0.8) 100%);
        }
    }

    .card:hover {
        img {
            transition: transform 0.5s ease-out;
            transform: scale(1.1);
        }
    }
}

#categoryBtns {
    user-select: none;
    .form-check-label {
        user-select: none;
        cursor: pointer;
    }

    .form-check-input:checked {
        background-color: #54b0b7;
        border-color: #54b0b7;
    }
}

#spinner i{
    color: #54b0b7 !important;
}

/* Product */

/* Footer */

footer {
    margin-top: auto;
}